<% if notice.present? %>
  <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @medicamento.nome %>
</p>

<%= link_to 'Editar', edit_medicamento_path(@medicamento), :class => 'btn btn-default' %>
<%= link_to 'Voltar', medicamentos_path, :class => 'btn btn-default' %>
